<h2>Welcome <%= @user.username %></h2>

<h3>My Pokedex</h3>

<br></br>

<p>My Pokemon</p>

  <ul>
    <% @user.pokemons.each do |pokemon| %>
      <li><a href="/pokemon/<%=pokemon.id%>"><%= pokemon.name %> aka <%= pokemon.nickname %> - <%= pokemon.cp %> CP</a></li>
    <% end %>
  </ul>

<br></br>

<h3><a href="/pokemon/new">Add a new Pokemon</a></h3>

<br></br>

<a href="/logout">Logout</a>
