<h3>Edit <%= @pokemon.name %></h3>

<form action="/pokemon/<%=@pokemon.id%>" method="post">
  <p>Nickname<input type="text" name="nickname" value="<%= @pokemon.nickname %>"></p>
  <p>Weight<input type="float" name="weight" value="<%= @pokemon.weight %>"></p>
  <p>Height<input type="float" name="height" value="<%= @pokemon.height %>"></p>
  <p>CP<input type="integer" name="cp" value="<%= @pokemon.cp %>"></p>
  <input type="submit" value="Update">
</form>
<p><a href="/pokemon/<%= @pokemon.id %>/delete">Delete <%= @pokemon.name %></a></p>
<br></br>
<p><a href="/pokemon">My Pokemon</a></p>
