<h3>Edit <%= @pokemon.name %></h3>

<form action="/pokemon/<%=@pokemon.id%>" method="post">
  <p>Nickname: <input type="text" name="nickname" value="<%= @pokemon.nickname %>"></p>
  <p>Type: <input type="text" name="p_type" value="<%= @pokemon.p_type %>"></p>
  <p>Weight: <input type="float" name="weight" value="<%= @pokemon.weight %>"></p>
  <p>Height: <input type="float" name="height" value="<%= @pokemon.height %>"></p>
  <p>CP: <input type="integer" name="cp" value="<%= @pokemon.cp %>"></p>
  <p>Attack Move: <input type="string" name="attack_move" value="<%= @pokemon.attack_move %>"> Damage: <input type="integer" name="attack_move_damage" value="<%= @pokemon.attack_move_damage %>"></p>
  <p>Special Move: <input type="string" name="special_move" value="<%= @pokemon.special_move %>"> Damage: <input type="integer" name="special_move_damage" value="<%= @pokemon.special_move_damage %>"></p>
  <input type="submit" value="Update">
</form>
<p><a href="/pokemon/<%= @pokemon.id %>/delete">Delete <%= @pokemon.name %></a></p>
<br></br>
<p><a href="/pokemon">My Pokemon</a></p>
