<h1>My Pokedex</h1>
<br></br>
<h3><%= @pokemons.name %></h3>
<p>Nickname:<%= @pokemons.nickname %></p>
<p>Weight:<%= @pokemons.weight %></p>
<p>Height:<%= @pokemons.height %></p>
<p>CP:<%= @pokemons.cp %></p>
<br></br>
<p>Edit <%= @pokemons.name %></p>
<a href="/logout">Logout</a>
