<h1>My Pokedex</h1>
<br></br>
<h3><%= @pokemons.name %></h3>
<p>Nickname:<%= @pokemons.nickname %></p>
<p>Weight:<%= @pokemons.weight %></p>
<p>Height:<%= @pokemons.height %></p>
<p>CP:<%= @pokemons.cp %></p>
<p><a href="/pokemon/<%= @pokemons.id %>/edit">Edit <%= @pokemons.name %></a></p>
<br></br>
<p><a href="/pokemon">My Pokemon</a></p>
<a href="/logout">Logout</a>
