<h1>My Pokedex</h1>
<br></br>
<h3><%= @pokemon.name %></h3>
<p>Nickname:<%= @pokemon.nickname %></p>
<p>Weight:<%= @pokemon.weight %></p>
<p>Height:<%= @pokemon.height %></p>
<p>CP:<%= @pokemon.cp %></p>
<p><a href="/pokemon/<%= @pokemon.id %>/edit">Edit <%= @pokemon.name %></a></p>
<br></br>
<p><a href="/pokemon">My Pokemon</a></p>
<a href="/logout">Logout</a>
